.section{
    clear:both;
    padding:0;
    margin:0
}
.col{
    background-color:#f4f4f4;
    height:20px;
    text-align:center;
    display:block;
    float:left;
    margin:1% 0 1% 1.6%
}
.col:first-child,
.section>ul:nth-child(4n+4){
    margin-left:0
}
.col:hover{
    background-color:#f0f0ff
}
.group:before,
.group:after{
    content:"";
    display:table
}
.group:after{
    clear:both
}
.c3of4{
    width:74.6%
}
.c1of4{
    width:23.8%
}
.c1of3{
    width:32.25%
}
.c2of3{
    width:32.25%
}
.c3of3{
    width:32.25%
}
.col{
    box-sizing:border-box
}